In [1]:
path= "/Users/KumarSanjeev/Desktop/churn_modelling.csv"

In [2]:
import pandas as pd

data = pd.read_csv(path)

In [3]:
data.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [4]:
X = data.iloc[:,3:12]

In [26]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
RowNumber          10000 non-null int64
CustomerId         10000 non-null int64
Surname            10000 non-null object
CreditScore        10000 non-null int64
Geography          10000 non-null object
Gender             10000 non-null object
Age                10000 non-null int64
Tenure             10000 non-null int64
Balance            10000 non-null float64
NumOfProducts      10000 non-null int64
HasCrCard          10000 non-null int64
IsActiveMember     10000 non-null int64
EstimatedSalary    10000 non-null float64
Exited             10000 non-null int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [5]:
X

      CreditScore Geography  Gender  ...  NumOfProducts  HasCrCard  IsActiveMember
0             619    France  Female  ...              1          1               1
1             608     Spain  Female  ...              1          0               1
2             502    France  Female  ...              3          1               0
3             699    France  Female  ...              2          0               0
4             850     Spain  Female  ...              1          1               1
...           ...       ...     ...  ...            ...        ...             ...
9995          771    France    Male  ...              2          1               0
9996          516    France    Male  ...              1          1               1
9997          709    France  Female  ...              1          0               1
9998          772   Germany    Male  ...              2          1               0
9999          792    France  Female  ...              1          1               0

[10000 rows x 9 columns]

In [6]:
geography=pd.get_dummies(X["Geography"],drop_first=True)

In [7]:
geography

      Germany  Spain
0           0      0
1           0      1
2           0      0
3           0      0
4           0      1
...       ...    ...
9995        0      0
9996        0      0
9997        0      0
9998        1      0
9999        0      0

[10000 rows x 2 columns]

In [8]:
gender= pd.get_dummies(X["Gender"],drop_first=True)
#type(gender)
type(X)

pandas.core.frame.DataFrame

In [9]:
X1= pd.concat([X,geography,gender],axis=1)
X2=X1.drop(columns=["Geography","Gender"])

In [10]:
type(X2)

pandas.core.frame.DataFrame

In [11]:
X2

      CreditScore  Age  Tenure    Balance  ...  IsActiveMember  Germany  Spain  Male
0             619   42       2       0.00  ...               1        0      0     0
1             608   41       1   83807.86  ...               1        0      1     0
2             502   42       8  159660.80  ...               0        0      0     0
3             699   39       1       0.00  ...               0        0      0     0
4             850   43       2  125510.82  ...               1        0      1     0
...           ...  ...     ...        ...  ...             ...      ...    ...   ...
9995          771   39       5       0.00  ...               0        0      0     1
9996          516   35      10   57369.61  ...               1        0      0     1
9997          709   36       7       0.00  ...               1        0      0     0
9998          772   42       3   75075.31  ...               0        1      0     1
9999          792   28       4  130142.79  ...               0        0      0     0

[10000 rows x 10 columns]

In [12]:
y = data.iloc[:,13]

In [13]:
y

0       1
1       0
2       1
3       0
4       0
       ..
9995    0
9996    0
9997    1
9998    1
9999    0
Name: Exited, Length: 10000, dtype: int64

In [14]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.svm import LinearSVC
from sklearn.preprocessing import MinMaxScaler,StandardScaler

In [15]:
scalar=StandardScaler()
X_train,X_test,y_train,Y_test=train_test_split(X2,y,test_size=0.2)

In [16]:
X_train = scalar.fit_transform(X_train)

/Users/kumarsanjeev/anaconda3/lib/python3.6/site-packages/sklearn/preprocessing/data.py:625: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
/Users/kumarsanjeev/anaconda3/lib/python3.6/site-packages/sklearn/base.py:462: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)

In [17]:
X_test=scalar.transform(X_test)

/Users/kumarsanjeev/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by StandardScaler.
  """Entry point for launching an IPython kernel.

In [18]:
X_train,X_test

(array([[ 0.75291515, -0.47322328,  0.34173374, ...,  1.72515018,
         -0.57658047,  0.90613409],
        [-1.31105003, -0.75680985,  1.72966111, ...,  1.72515018,
         -0.57658047, -1.10358943],
        [ 1.04187027, -0.28416556,  0.68871559, ..., -0.57965968,
         -0.57658047, -1.10358943],
        ...,
        [-1.2594509 , -1.60756958, -0.0052481 , ..., -0.57965968,
         -0.57658047,  0.90613409],
        [-0.28938727,  0.09394987,  0.68871559, ..., -0.57965968,
          1.73436329, -1.10358943],
        [ 1.19666766, -0.75680985,  0.34173374, ..., -0.57965968,
          1.73436329,  0.90613409]]),
 array([[-1.00145525,  0.37753644,  1.72966111, ..., -0.57965968,
         -0.57658047, -1.10358943],
        [ 0.63939706,  0.28300759, -0.69921179, ..., -0.57965968,
         -0.57658047, -1.10358943],
        [-1.26977073, -0.75680985,  1.38267927, ..., -0.57965968,
         -0.57658047,  0.90613409],
        ...,
        [-0.11395023, -1.04039643,  0.68871559, ..., -0.57965968,
         -0.57658047,  0.90613409],
        [ 0.36076176,  0.18847873,  0.68871559, ..., -0.57965968,
         -0.57658047, -1.10358943],
        [ 0.29884281, -0.662281  ,  0.68871559, ...,  1.72515018,
         -0.57658047,  0.90613409]]))

In [19]:
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import ReLU,LeakyReLU,PReLU,ELU
from keras.layers import Dropout

In [20]:
model = Sequential()
model.add(Dense(output_dim=6, init="he_uniform",activation="relu",input_dim=10))

#classifer.add(Dense(output_dim = 6, init ='he_uniform',activation='relu',input_dim = 11))
#output_dim = 6, init = 'he_uniform',activation='relu',input_dim = 11)

/Users/kumarsanjeev/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="relu", input_dim=10, units=6, kernel_initializer="he_uniform")`

In [27]:
from keras.layers import LSTM
#Adding second hidden layer
# Adding the second hidden layer
model.add(Dense(output_dim = 6, init = 'he_uniform',activation='relu'))
#model.add(LSTM(output_dim = 6, init = 'he_uniform',activation='relu'))

/Users/kumarsanjeev/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="relu", units=6, kernel_initializer="he_uniform")`
  after removing the cwd from sys.path.

In [28]:
#adding Output layer
model.add(Dense(output_dim=1,init="he_uniform",activation="sigmoid"))

/Users/kumarsanjeev/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="sigmoid", units=1, kernel_initializer="he_uniform")`

In [32]:
#compiling the model
model.compile(optimizer = 'Adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

In [30]:
#model_history=model.fit(X_train,y_train,validation_split=0.33,batch_size=10,epochs=50)

model_history=model.fit(X_train, y_train,validation_split=0.33, batch_size = 10, nb_epoch = 100)

/Users/kumarsanjeev/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: UserWarning: The `nb_epoch` argument in `fit` has been renamed `epochs`.
  This is separate from the ipykernel package so we can avoid doing imports until

Train on 5359 samples, validate on 2641 samples
Epoch 1/100
5359/5359 [==============================] - 1s 225us/step - loss: 0.5357 - acc: 0.7481 - val_loss: 0.4635 - val_acc: 0.7963
Epoch 2/100
5359/5359 [==============================] - 1s 118us/step - loss: 0.4437 - acc: 0.7946 - val_loss: 0.4435 - val_acc: 0.7963
Epoch 3/100
5359/5359 [==============================] - 1s 118us/step - loss: 0.4275 - acc: 0.7946 - val_loss: 0.4356 - val_acc: 0.7963
Epoch 4/100
5359/5359 [==============================] - 1s 190us/step - loss: 0.4196 - acc: 0.7946 - val_loss: 0.4304 - val_acc: 0.7963
Epoch 5/100
5359/5359 [==============================] - 1s 185us/step - loss: 0.4141 - acc: 0.7946 - val_loss: 0.4250 - val_acc: 0.7963
Epoch 6/100
5359/5359 [==============================] - 1s 172us/step - loss: 0.4080 - acc: 0.7990 - val_loss: 0.4200 - val_acc: 0.8114
Epoch 7/100
5359/5359 [==============================] - 1s 132us/step - loss: 0.4026 - acc: 0.8136 - val_loss: 0.4156 - val_acc: 0.8133
Epoch 8/100
5359/5359 [==============================] - 1s 120us/step - loss: 0.3965 - acc: 0.8190 - val_loss: 0.4108 - val_acc: 0.8164
Epoch 9/100
5359/5359 [==============================] - 1s 119us/step - loss: 0.3901 - acc: 0.8240 - val_loss: 0.4051 - val_acc: 0.8232
Epoch 10/100
5359/5359 [==============================] - 1s 117us/step - loss: 0.3842 - acc: 0.8308 - val_loss: 0.4012 - val_acc: 0.8262
Epoch 11/100
5359/5359 [==============================] - 1s 120us/step - loss: 0.3786 - acc: 0.8369 - val_loss: 0.3993 - val_acc: 0.8285
Epoch 12/100
5359/5359 [==============================] - 1s 116us/step - loss: 0.3738 - acc: 0.8390 - val_loss: 0.3927 - val_acc: 0.8323
Epoch 13/100
5359/5359 [==============================] - 1s 116us/step - loss: 0.3687 - acc: 0.8440 - val_loss: 0.3873 - val_acc: 0.8334
Epoch 14/100
5359/5359 [==============================] - 1s 120us/step - loss: 0.3648 - acc: 0.8475 - val_loss: 0.3865 - val_acc: 0.8360
Epoch 15/100
5359/5359 [==============================] - 1s 120us/step - loss: 0.3623 - acc: 0.8462 - val_loss: 0.3825 - val_acc: 0.8368
Epoch 16/100
5359/5359 [==============================] - 1s 121us/step - loss: 0.3592 - acc: 0.8503 - val_loss: 0.3803 - val_acc: 0.8383
Epoch 17/100
5359/5359 [==============================] - 1s 118us/step - loss: 0.3566 - acc: 0.8511 - val_loss: 0.3786 - val_acc: 0.8432
Epoch 18/100
5359/5359 [==============================] - 1s 119us/step - loss: 0.3543 - acc: 0.8543 - val_loss: 0.3750 - val_acc: 0.8413
Epoch 19/100
5359/5359 [==============================] - 1s 117us/step - loss: 0.3522 - acc: 0.8552 - val_loss: 0.3762 - val_acc: 0.8448
Epoch 20/100
5359/5359 [==============================] - 1s 117us/step - loss: 0.3502 - acc: 0.8552 - val_loss: 0.3714 - val_acc: 0.8470
Epoch 21/100
5359/5359 [==============================] - 1s 118us/step - loss: 0.3478 - acc: 0.8565 - val_loss: 0.3711 - val_acc: 0.8432
Epoch 22/100
5359/5359 [==============================] - 1s 120us/step - loss: 0.3465 - acc: 0.8574 - val_loss: 0.3656 - val_acc: 0.8478
Epoch 23/100
5359/5359 [==============================] - 1s 117us/step - loss: 0.3441 - acc: 0.8589 - val_loss: 0.3647 - val_acc: 0.8504
Epoch 24/100
5359/5359 [==============================] - 1s 119us/step - loss: 0.3430 - acc: 0.8604 - val_loss: 0.3622 - val_acc: 0.8493
Epoch 25/100
5359/5359 [==============================] - 1s 119us/step - loss: 0.3415 - acc: 0.8589 - val_loss: 0.3612 - val_acc: 0.8485
Epoch 26/100
5359/5359 [==============================] - 1s 117us/step - loss: 0.3407 - acc: 0.8643 - val_loss: 0.3595 - val_acc: 0.8531
Epoch 27/100
5359/5359 [==============================] - 1s 118us/step - loss: 0.3395 - acc: 0.8630 - val_loss: 0.3602 - val_acc: 0.8523
Epoch 28/100
5359/5359 [==============================] - 1s 117us/step - loss: 0.3387 - acc: 0.8621 - val_loss: 0.3604 - val_acc: 0.8535
Epoch 29/100
5359/5359 [==============================] - 1s 116us/step - loss: 0.3382 - acc: 0.8634 - val_loss: 0.3633 - val_acc: 0.8520
Epoch 30/100
5359/5359 [==============================] - 1s 117us/step - loss: 0.3380 - acc: 0.8630 - val_loss: 0.3560 - val_acc: 0.8569
Epoch 31/100
5359/5359 [==============================] - 1s 116us/step - loss: 0.3367 - acc: 0.8642 - val_loss: 0.3575 - val_acc: 0.8554
Epoch 32/100
5359/5359 [==============================] - 1s 117us/step - loss: 0.3356 - acc: 0.8614 - val_loss: 0.3578 - val_acc: 0.8546
Epoch 33/100
5359/5359 [==============================] - 1s 124us/step - loss: 0.3352 - acc: 0.8656 - val_loss: 0.3555 - val_acc: 0.8557
Epoch 34/100
5359/5359 [==============================] - 1s 117us/step - loss: 0.3351 - acc: 0.8664 - val_loss: 0.3565 - val_acc: 0.8538
Epoch 35/100
5359/5359 [==============================] - 1s 118us/step - loss: 0.3349 - acc: 0.8651 - val_loss: 0.3559 - val_acc: 0.8550
Epoch 36/100
5359/5359 [==============================] - 1s 125us/step - loss: 0.3346 - acc: 0.8673 - val_loss: 0.3594 - val_acc: 0.8531
Epoch 37/100
5359/5359 [==============================] - 1s 118us/step - loss: 0.3349 - acc: 0.8619 - val_loss: 0.3566 - val_acc: 0.8520
Epoch 38/100
5359/5359 [==============================] - 1s 118us/step - loss: 0.3338 - acc: 0.8649 - val_loss: 0.3552 - val_acc: 0.8554
Epoch 39/100
5359/5359 [==============================] - 1s 122us/step - loss: 0.3335 - acc: 0.8640 - val_loss: 0.3610 - val_acc: 0.8538
Epoch 40/100
5359/5359 [==============================] - 1s 127us/step - loss: 0.3329 - acc: 0.8653 - val_loss: 0.3557 - val_acc: 0.8565
Epoch 41/100
5359/5359 [==============================] - 1s 141us/step - loss: 0.3326 - acc: 0.8655 - val_loss: 0.3555 - val_acc: 0.8542
Epoch 42/100
5359/5359 [==============================] - 1s 125us/step - loss: 0.3316 - acc: 0.8666 - val_loss: 0.3549 - val_acc: 0.8538
Epoch 43/100
5359/5359 [==============================] - 1s 130us/step - loss: 0.3311 - acc: 0.8671 - val_loss: 0.3599 - val_acc: 0.8546
Epoch 44/100
5359/5359 [==============================] - 1s 121us/step - loss: 0.3317 - acc: 0.8681 - val_loss: 0.3539 - val_acc: 0.8557
Epoch 45/100
5359/5359 [==============================] - 1s 127us/step - loss: 0.3320 - acc: 0.8655 - val_loss: 0.3543 - val_acc: 0.8561
Epoch 46/100
5359/5359 [==============================] - 1s 128us/step - loss: 0.3313 - acc: 0.8668 - val_loss: 0.3543 - val_acc: 0.8527
Epoch 47/100
5359/5359 [==============================] - 1s 121us/step - loss: 0.3305 - acc: 0.8653 - val_loss: 0.3555 - val_acc: 0.8535
Epoch 48/100
5359/5359 [==============================] - 1s 129us/step - loss: 0.3294 - acc: 0.8671 - val_loss: 0.3558 - val_acc: 0.8527
Epoch 49/100
5359/5359 [==============================] - 1s 127us/step - loss: 0.3299 - acc: 0.8655 - val_loss: 0.3552 - val_acc: 0.8527
Epoch 50/100
5359/5359 [==============================] - 1s 123us/step - loss: 0.3288 - acc: 0.8675 - val_loss: 0.3588 - val_acc: 0.8550
Epoch 51/100
5359/5359 [==============================] - 1s 129us/step - loss: 0.3297 - acc: 0.8660 - val_loss: 0.3546 - val_acc: 0.8569
Epoch 52/100
5359/5359 [==============================] - 1s 127us/step - loss: 0.3298 - acc: 0.8666 - val_loss: 0.3545 - val_acc: 0.8538
Epoch 53/100
5359/5359 [==============================] - 1s 125us/step - loss: 0.3296 - acc: 0.8655 - val_loss: 0.3554 - val_acc: 0.8565
Epoch 54/100
5359/5359 [==============================] - 1s 128us/step - loss: 0.3297 - acc: 0.8656 - val_loss: 0.3545 - val_acc: 0.8573
Epoch 55/100
5359/5359 [==============================] - 1s 127us/step - loss: 0.3284 - acc: 0.8686 - val_loss: 0.3545 - val_acc: 0.8542
Epoch 56/100
5359/5359 [==============================] - 1s 127us/step - loss: 0.3285 - acc: 0.8684 - val_loss: 0.3548 - val_acc: 0.8550
Epoch 57/100
5359/5359 [==============================] - 1s 129us/step - loss: 0.3282 - acc: 0.8673 - val_loss: 0.3544 - val_acc: 0.8569
Epoch 58/100
5359/5359 [==============================] - 1s 128us/step - loss: 0.3287 - acc: 0.8666 - val_loss: 0.3558 - val_acc: 0.8557
Epoch 59/100
5359/5359 [==============================] - 1s 128us/step - loss: 0.3277 - acc: 0.8692 - val_loss: 0.3564 - val_acc: 0.8542
Epoch 60/100

5359/5359 [==============================] - 1s 128us/step - loss: 0.3277 - acc: 0.8698 - val_loss: 0.3558 - val_acc: 0.8535
Epoch 61/100
5359/5359 [==============================] - 1s 127us/step - loss: 0.3283 - acc: 0.8694 - val_loss: 0.3562 - val_acc: 0.8520
Epoch 62/100
5359/5359 [==============================] - 1s 127us/step - loss: 0.3286 - acc: 0.8683 - val_loss: 0.3545 - val_acc: 0.8538
Epoch 63/100
5359/5359 [==============================] - 1s 124us/step - loss: 0.3279 - acc: 0.8662 - val_loss: 0.3574 - val_acc: 0.8546
Epoch 64/100
5359/5359 [==============================] - 1s 135us/step - loss: 0.3276 - acc: 0.8686 - val_loss: 0.3550 - val_acc: 0.8565
Epoch 65/100
5359/5359 [==============================] - 1s 133us/step - loss: 0.3267 - acc: 0.8705 - val_loss: 0.3549 - val_acc: 0.8565
Epoch 66/100
5359/5359 [==============================] - 1s 134us/step - loss: 0.3270 - acc: 0.8698 - val_loss: 0.3589 - val_acc: 0.8542
Epoch 67/100
5359/5359 [==============================] - 1s 164us/step - loss: 0.3273 - acc: 0.8694 - val_loss: 0.3555 - val_acc: 0.8557
Epoch 68/100
5359/5359 [==============================] - 1s 128us/step - loss: 0.3280 - acc: 0.8679 - val_loss: 0.3555 - val_acc: 0.8535
Epoch 69/100
5359/5359 [==============================] - 1s 145us/step - loss: 0.3273 - acc: 0.8675 - val_loss: 0.3541 - val_acc: 0.8535
Epoch 70/100
5359/5359 [==============================] - 1s 144us/step - loss: 0.3269 - acc: 0.8692 - val_loss: 0.3545 - val_acc: 0.8557
Epoch 71/100
5359/5359 [==============================] - 1s 177us/step - loss: 0.3264 - acc: 0.8688 - val_loss: 0.3574 - val_acc: 0.8523
Epoch 72/100
5359/5359 [==============================] - 1s 148us/step - loss: 0.3271 - acc: 0.8670 - val_loss: 0.3554 - val_acc: 0.8538
Epoch 73/100
5359/5359 [==============================] - 1s 151us/step - loss: 0.3263 - acc: 0.8683 - val_loss: 0.3544 - val_acc: 0.8550
Epoch 74/100
5359/5359 [==============================] - 1s 172us/step - loss: 0.3260 - acc: 0.8716 - val_loss: 0.3543 - val_acc: 0.8557
Epoch 75/100
5359/5359 [==============================] - 1s 170us/step - loss: 0.3258 - acc: 0.8690 - val_loss: 0.3545 - val_acc: 0.8535
Epoch 76/100
5359/5359 [==============================] - 1s 200us/step - loss: 0.3256 - acc: 0.8684 - val_loss: 0.3594 - val_acc: 0.8520
Epoch 77/100
5359/5359 [==============================] - 1s 208us/step - loss: 0.3266 - acc: 0.8670 - val_loss: 0.3576 - val_acc: 0.8527
Epoch 78/100
5359/5359 [==============================] - 1s 151us/step - loss: 0.3262 - acc: 0.8670 - val_loss: 0.3550 - val_acc: 0.8546
Epoch 79/100
5359/5359 [==============================] - 1s 133us/step - loss: 0.3256 - acc: 0.8688 - val_loss: 0.3572 - val_acc: 0.8554
Epoch 80/100
5359/5359 [==============================] - 1s 149us/step - loss: 0.3261 - acc: 0.8684 - val_loss: 0.3552 - val_acc: 0.8542
Epoch 81/100
5359/5359 [==============================] - 1s 139us/step - loss: 0.3254 - acc: 0.8703 - val_loss: 0.3553 - val_acc: 0.8557
Epoch 82/100
5359/5359 [==============================] - 1s 146us/step - loss: 0.3257 - acc: 0.8711 - val_loss: 0.3549 - val_acc: 0.8542
Epoch 83/100
5359/5359 [==============================] - 1s 172us/step - loss: 0.3259 - acc: 0.8677 - val_loss: 0.3541 - val_acc: 0.8561
Epoch 84/100
5359/5359 [==============================] - 1s 137us/step - loss: 0.3247 - acc: 0.8711 - val_loss: 0.3555 - val_acc: 0.8557
Epoch 85/100
5359/5359 [==============================] - 1s 168us/step - loss: 0.3255 - acc: 0.8712 - val_loss: 0.3557 - val_acc: 0.8531
Epoch 86/100
5359/5359 [==============================] - 1s 162us/step - loss: 0.3249 - acc: 0.8701 - val_loss: 0.3541 - val_acc: 0.8550
Epoch 87/100
5359/5359 [==============================] - 1s 168us/step - loss: 0.3255 - acc: 0.8699 - val_loss: 0.3549 - val_acc: 0.8538
Epoch 88/100
5359/5359 [==============================] - 1s 134us/step - loss: 0.3253 - acc: 0.8711 - val_loss: 0.3557 - val_acc: 0.8561
Epoch 89/100
5359/5359 [==============================] - 1s 128us/step - loss: 0.3256 - acc: 0.8690 - val_loss: 0.3563 - val_acc: 0.8569
Epoch 90/100
5359/5359 [==============================] - 1s 129us/step - loss: 0.3252 - acc: 0.8688 - val_loss: 0.3565 - val_acc: 0.8504
Epoch 91/100
5359/5359 [==============================] - 1s 128us/step - loss: 0.3246 - acc: 0.8699 - val_loss: 0.3552 - val_acc: 0.8550
Epoch 92/100
5359/5359 [==============================] - 1s 129us/step - loss: 0.3253 - acc: 0.8679 - val_loss: 0.3562 - val_acc: 0.8542
Epoch 93/100
5359/5359 [==============================] - 1s 129us/step - loss: 0.3238 - acc: 0.8709 - val_loss: 0.3553 - val_acc: 0.8550
Epoch 94/100
5359/5359 [==============================] - 1s 130us/step - loss: 0.3249 - acc: 0.8722 - val_loss: 0.3561 - val_acc: 0.8557
Epoch 95/100
5359/5359 [==============================] - 1s 129us/step - loss: 0.3244 - acc: 0.8694 - val_loss: 0.3562 - val_acc: 0.8550
Epoch 96/100
5359/5359 [==============================] - 1s 130us/step - loss: 0.3241 - acc: 0.8714 - val_loss: 0.3556 - val_acc: 0.8550
Epoch 97/100
5359/5359 [==============================] - 1s 133us/step - loss: 0.3226 - acc: 0.8707 - val_loss: 0.3567 - val_acc: 0.8542
Epoch 98/100
5359/5359 [==============================] - 1s 130us/step - loss: 0.3246 - acc: 0.8712 - val_loss: 0.3545 - val_acc: 0.8527
Epoch 99/100
5359/5359 [==============================] - 1s 130us/step - loss: 0.3245 - acc: 0.8688 - val_loss: 0.3597 - val_acc: 0.8550
Epoch 100/100
5359/5359 [==============================] - 1s 130us/step - loss: 0.3242 - acc: 0.8699 - val_loss: 0.3571 - val_acc: 0.8542

In [31]:
import matplotlib.pyplot as plt
plt.plot(model_history.history['acc'])
plt.plot(model_history.history['val_acc'])
plt.title('model accuracy')
plt.ylabel('accuracy')
plt.xlabel('epoch')
plt.legend(['train', 'test'], loc='upper left')
plt.show()
 
# summarize history for loss
plt.plot(model_history.history['loss'])
plt.plot(model_history.history['val_loss'])
plt.title('model loss')
plt.ylabel('loss')
plt.xlabel('epoch')
plt.legend(['train', 'test'], loc='upper left')
plt.show()

In [136]:
# Predicting the Test set results
y_pred = model.predict(X_test)
y_pred = (y_pred > 0.5)

# Making the Confusion Matrix
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(Y_test, y_pred)

# Calculate the Accuracy
from sklearn.metrics import accuracy_score
score=accuracy_score(y_pred,Y_test)
cm,score

(array([[1514,   87],
        [ 195,  204]]), 0.859)

In [138]:
from sklearn.metrics import roc_auc_score
roc_auc_score(Y_test, y_pred)

0.728468579318377