# https://datatofish.com/multiple-linear-regression-python/

In [8]:
import pandas as pd

In [13]:
stockmarket={'Year': [2017,2017,2017,2017,2017,2017,2017,2017,2017,2017,2017,2017,2016,2016,2016,2016,2016,2016,2016,2016,2016,2016,2016,2016],
                'Month': [12, 11,10,9,8,7,6,5,4,3,2,1,12,11,10,9,8,7,6,5,4,3,2,1],
                'Interest_Rate': [2.75,2.5,2.5,2.5,2.5,2.5,2.5,2.25,2.25,2.25,2,2,2,1.75,1.75,1.75,1.75,1.75,1.75,1.75,1.75,1.75,1.75,1.75],
                'Unemployment_Rate': [5.3,5.3,5.3,5.3,5.4,5.6,5.5,5.5,5.5,5.6,5.7,5.9,6,5.9,5.8,6.1,6.2,6.1,6.1,6.1,5.9,6.2,6.2,6.1],
                'Stock_Index_Price': [1464,1394,1357,1293,1256,1254,1234,1195,1159,1167,1130,1075,1047,965,943,958,971,949,884,866,876,822,704,719]    }

In [14]:
df =pd.DataFrame(stockmarket)

In [16]:
df.head()

   Year  Month  Interest_Rate  Unemployment_Rate  Stock_Index_Price
0  2017     12           2.75                5.3               1464
1  2017     11           2.50                5.3               1394
2  2017     10           2.50                5.3               1357
3  2017      9           2.50                5.3               1293
4  2017      8           2.50                5.4               1256

In [34]:
X= df.iloc[:,0:4]

In [37]:
y= df.iloc[:,4]

In [40]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,random_state=21)

In [55]:
from sklearn.linear_model import LinearRegression,Lasso

In [56]:
regressor=Lasso()

In [57]:
regressor.fit(X_train,y_train)

Lasso(alpha=1.0, copy_X=True, fit_intercept=True, max_iter=1000,
   normalize=False, positive=False, precompute=False, random_state=None,
   selection='cyclic', tol=0.0001, warm_start=False)

In [58]:
pred=regressor.predict(X_test)

In [59]:
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
a= mean_squared_error(y_test,pred)

In [60]:
a

930.8652127849317

In [61]:
r_scoer=r2_score(y_test,pred)
r_scoer

0.9729633903600502

0.9763688998643392