In [ ]:
#https://realpython.com/python-keras-text-classification/
#https://www.youtube.com/watch?v=tAY6jtFoNEA&list=PLZoTAELRMXVOnN_g96ayzXX5i7RRO0QhL&index=12

In [116]:
path = "/Users/KumarSanjeev/Downloads/sentiment labelled sentences/yelp_labelled.txt"

In [117]:
import pandas as pd
df= pd.read_csv(path,sep="\t",names=["Sentence","Label"])

In [118]:
df.head()

                                            Sentence  Label
0                           Wow... Loved this place.      1
1                                 Crust is not good.      0
2          Not tasty and the texture was just nasty.      0
3  Stopped by during the late May bank holiday of...      1
4  The selection on the menu was great and so wer...      1

In [119]:
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression

In [120]:
X = df["Sentence"].values
y = df['Label'].values

In [121]:
len(X)

1000

In [122]:
X_train,X_test,y_train,y_test= train_test_split(X,y,test_size=0.2,random_state=15)

In [123]:
len(X_test)

200

In [124]:

vectorizer=TfidfVectorizer()

In [125]:
X_train1=vectorizer.fit_transform(X_train)

In [126]:
X_train1

<800x1761 sparse matrix of type '<class 'numpy.float64'>'
	with 7633 stored elements in Compressed Sparse Row format>

In [127]:
X_test1=vectorizer.transform(X_test)

In [128]:
model.fit(X_train1,y_train)

/Users/kumarsanjeev/anaconda3/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [129]:
model.score(X_train1,y_train)

0.95875

# Clustering

In [134]:
path ="/Users/KumarSanjeev/Downloads/ML Training Data/Mall_Customer_data.csv"

In [135]:
import pandas as pd
from sklearn.cluster import KMeans

In [138]:
data= pd.read_csv(path)

In [139]:
data.head()

   CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40

In [142]:
data.columns

Index(['CustomerID', 'Gender', 'Age', 'Annual Income (k$)',
       'Spending Score (1-100)'],
      dtype='object')

In [149]:
new_data = data.drop(columns=["CustomerID","Age"])

In [153]:
new_data1=pd.get_dummies(new_data,columns=["Gender"],drop_first=True)

In [154]:
new_data1

     Annual Income (k$)  Spending Score (1-100)  Gender_Male
0                    15                      39            1
1                    15                      81            1
2                    16                       6            0
3                    16                      77            0
4                    17                      40            0
..                  ...                     ...          ...
195                 120                      79            0
196                 126                      28            0
197                 126                      74            1
198                 137                      18            1
199                 137                      83            1

[200 rows x 3 columns]

In [155]:
new_data1

     Annual Income (k$)  Spending Score (1-100)  Gender_Male
0                    15                      39            1
1                    15                      81            1
2                    16                       6            0
3                    16                      77            0
4                    17                      40            0
..                  ...                     ...          ...
195                 120                      79            0
196                 126                      28            0
197                 126                      74            1
198                 137                      18            1
199                 137                      83            1

[200 rows x 3 columns]

In [159]:
model=KMeans(n_clusters=8)

In [160]:
X= new_data1
model.fit(X)

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
    n_clusters=8, n_init=10, n_jobs=None, precompute_distances='auto',
    random_state=None, tol=0.0001, verbose=0)

In [161]:
model.fit_predict(X)

array([4, 0, 4, 0, 4, 0, 4, 0, 4, 0, 4, 0, 4, 0, 4, 0, 4, 0, 4, 0, 4, 0,
       4, 0, 4, 0, 4, 0, 4, 0, 4, 0, 4, 0, 4, 0, 4, 0, 4, 0, 2, 0, 2, 2,
       4, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 7, 2, 2, 7, 2, 2, 2, 2, 2,
       2, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7,
       7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 3, 7, 3, 7, 3, 1, 3, 1, 3,
       7, 3, 1, 3, 1, 3, 1, 3, 1, 3, 7, 3, 1, 3, 7, 3, 1, 3, 1, 3, 1, 3,
       1, 3, 1, 3, 1, 3, 7, 3, 1, 3, 1, 3, 1, 3, 1, 3, 1, 3, 1, 3, 1, 3,
       1, 3, 1, 3, 5, 6, 5, 6, 5, 6, 5, 6, 5, 6, 5, 6, 5, 6, 5, 6, 5, 6,
       5, 6], dtype=int32)

# # Parameter Tuning for K best cluster

In [168]:
wess=[]
for i in range(1,11):
    X= new_data1
    model=KMeans(n_clusters=i)
    model.fit(X)
    y_kmeans=model.fit_predict(X)
    wess.append(model.inertia_)
    #print(model.fit_predict(X))
print(wess)

[270030.56, 181412.61414141415, 106397.21385076198, 73728.62329226075, 44497.18546815503, 37320.733959941026, 30307.79557471514, 25066.15490620491, 21874.503684687406, 19705.18201746574]

# Parameter Tuning for K best Neighbours

In [ ]:
import numpy as np
neigh = np.arange(1,25)
train_accuracy= []
test_accuracy= []
for i,j in enumerate(neigh):
    knn = KNeighborsClassifier(n_neighbors=j)
    knn.fit(X_train,y_train)
    #train accuracy
    train_accuracy.append(knn.score(X_train, y_train))
    # test accuracy
    test_accuracy.append(knn.score(X_test, y_test))
test_accuracy